// animations
@keyframes scaleUpCenter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes showUpShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
