@use "./colors" as colors;
@use "./sizes" as sizes;
@use "./reset";
@use "./typografy";
@use "./animation";
@use "./card";
// utilities classes for styling
.app {
  width: 100%;
  height: 100%;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: sizes.$fs-basic;
}
i {
  min-height: 20px;
  min-width: 20px;
}
.hidden {
  opacity: 0;
}
// main styles
.header--bg {
  overflow: hidden;
  width: 100%;
  background: colors.$gredient-main;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: sizes.$fs-basic;
  width: 100%;
}

.right-side--menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-grow: 1;
}
.bnt-navbar {
  padding: 0 5px;
  font-size: sizes.$fs-regular;
  background: none;
  border: none;
  cursor: pointer;
}

.left-side--menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
  .links--menu {
    padding: 10px 0;
  }
  a {
    display: inline-block;
    padding-right: 10px;
    color: colors.$black;
  }
  a:hover {
    animation: scaleUpCenter 0.4s linear forwards;
  }
}

.search {
  display: flex;
  align-items: flex-start;
  padding: 10px 0px;
}
.search-field {
  border: none;
  border-bottom: 2px solid colors.$black;
  background-color: transparent;
  color: colors.$black;
  margin-left: 5px;
}

.search-field:focus {
  outline: none;
}

.sidebar {
  position: fixed;
  top: 0;
  padding: 20px 10px;
  background-color: colors.$complementary;
  width: 100%;
  height: 100vh;
  transform: translateX(-100vw);
  transition: transform 0.6s linear, opacity 0.6s ease-in-out;
}

.sidebar--open {
  transform: translateX(0px);
}

.logo--holder {
  display: flex;
  align-items: flex-start;
}

.logo {
  width: 80px;
  height: 80px;
}

.navbar {
  padding: 30px;
}

.navbar-links:first-child {
  border-top: 2px solid colors.$dominant;
}
.navbar-link {
  padding: 20px 0;
  border-bottom: 2px solid colors.$dominant;
  position: relative;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;

  a {
    display: block;
    color: colors.$dominant;
  }
  ::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(sizes.$fs-basic / 4 + 20px / 4);
    left: 25%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%;
    height: calc(sizes.$fs-basic + 20px);
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0;
  }
  a:hover::after {
    animation-name: showUpShadow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
.sidebar.hidden .navbar-link a {
  pointer-events: none;
}

.main--bg {
  width: 100%;
  height: 90%;
  background-color: colors.$complementary;
}
.main {
  background: url("../svg/bg--main.svg");
  background-size: cover;
  // background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  a {
    font-size: sizes.$fs-regular;
  }

  .bnt-navbar {
    margin-right: 30px;
    font-size: sizes.$fs-medium;
    width: 50px;
  }
  .menu {
    padding: 40px 20px;
    font-size: sizes.$fs-regular;
  }

  .sidebar {
    padding: 40px 20px;
    min-width: fit-content;
    width: 30%;
    height: fit-content;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateX(0);
  }

  .navbar-link {
    ::after {
      left: 0;
      width: 100%;
      top: calc(sizes.$fs-regular / 4 + 20px / 4);
      height: calc(sizes.$fs-regular + 20px);
    }
  }
  .main {
    padding: 80px 40px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .left-side--menu {
    flex-direction: row-reverse;

    .links--menu {
      padding: 10px 5px;
    }
    .search {
      padding: 10px 5px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .sidebar {
    width: 20%;
  }
}
